AutoCursorMoveStep/RandomPointCurve/obj/
AutoCursorMoveStep/AutoCursorMoveStep/obj/
AutoCursorMoveStep/AutoCursorMoveStep/bin/
AutoCursorMoveStep/.vs/
AutoCursorMoveStep/AutoCursorMoveStep/Properties/PublishProfiles/
AutoCursorMoveStep/AutoCursorMoveStep/AutoCursorMoveStep.csproj.user
AutoCursorMoveStep/DetectSameImageInScreen/obj/
AutoCursorMoveStep/DetectSameImageInScreen/bin/
AutoCursorMoveStep/RandomPointCurve/bin/
BZ.AM/BZ.AM/.vs/
BZ.AM/BZ.AM/BZ.AM/obj/
BZ.AM/BZ.AM/BZ.AM/bin/
