AutoCursorMoveStep/RandomPointCurve/obj/
AutoCursorMoveStep/AutoCursorMoveStep/obj/
AutoCursorMoveStep/AutoCursorMoveStep/bin/
AutoCursorMoveStep/.vs/
AutoCursorMoveStep/AutoCursorMoveStep/Properties/PublishProfiles/
AutoCursorMoveStep/AutoCursorMoveStep/AutoCursorMoveStep.csproj.user
